# Dependency directories
# themes/
public/
!vitepress-site/docs/public/
resources/
node_modules/
tech-doc-hugo

.DS_Store
content/en/docs/.DS_Store
vitepress-site/docs/.vitepress/cache
vitepress-site/docs/.vitepress/dist
