+++
title = "Butler"
linkTitle = "Butler"

+++

{{< blocks/cover title="Butler: Utility toolbox for Qlik Sense" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ptarmiganlabs/butler">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
		Start tasks, get notified when they fail, post to Slack and more.<br><br>
	</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Butler includes a palette of features:

- A REST API making it easy to access Sense features from 3rd party systems, or from within the load script. 
  API endpoints include starting tasks, sending Slack messages and publishing data to MQTT messages. 
- Instructions and sample files for hooking into Sense's logging framework and get notified when tasks fail, users log on and more.
- Use MQTT to start Sense reload tasks.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Latest release: 3.0" %}}
Enable exactly the REST API endpoints you need - no more, no less.

Available on [GitHub](https://github.com/ptarmiganlabs/butler/releases).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  %}}
We do a [Pull Request](https://github.com/ptarmiganlabs/butler/pulls) contributions workflow on **GitHub**. New developers are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ptarmiganlabs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}




