+++
title = "Butler"
linkTitle = "Butler"

+++

{{< blocks/cover title="Butler: Adding superpowers to Qlik Sense" image_anchor="center" height="full" color="dark" >}}
<div class="mx-auto">
	<p class="lead mt-5" style="font-size: 120%" ">
		Advanced task scheduling, task chaining with parameters, key-value store, start tasks, get notified when they fail, extract app metadata, post to Slack/Teams and more.<br><br>
	</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ptarmiganlabs/butler">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.subscribepage.com/g3c1f1" target="_blank">
		Newsletter <i class="fa fa-envelope ml-2 "></i>
	</a>
	<p class="lead mt-5">
		Click the arrow ⬇️ or scroll down to learn more.
	</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light" >}}
</div>
{{< /blocks/cover >}}



{{< blocks/section color="light">}}

{{% blocks/feature icon="fa-clock" title="Advanced task scheduler" %}}
Set up advanced task scheduling, more flexible than the one built into Sense.

Cron for Qlik Sense, no more, no less.

[Read more...](/docs/concepts/scheduler/) 
{{% /blocks/feature %}}



{{% blocks/feature icon="fa-link" title="Task chaining with parameters" %}}
Need to pass parameters from one reload task to the next?

Create chained app reloads with any number of parameters passed from app to app.

[Read more...](/docs/examples/reload-chaining/) 
{{% /blocks/feature %}}



{{% blocks/feature icon="fa-database" title="Generic key-value store" %}}
Keep state across any number of apps. Namespace support and optional Time To Live (TTL) for each key-value pair.

[Read more...](/docs/concepts/key-value/) 
{{% /blocks/feature %}}



{{% blocks/feature icon="fa-play" title="Start tasks via REST API or MQTT" %}}
Data delays - no thanks!  
Start reload tasks from within app load scripts or from upstream source systems that feed Sense with data

[Read more...](/docs/reference/rest_api/) 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-envelope" title="Task failure notifications" %}}
Who should be the first to know that a reload has failed? You or your users?  

Get notified when tasks fail, with notifications sent to Slack, Microsoft Teams or email.

[Read more...](/docs/examples/reload-failure-notification/) 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-shoe-prints" title="App metadata extract" %}}
Extract app metadata for a single or all apps in a Sense cluster.
Great for backup purposes!

[Read more...](/docs/reference/rest_api/) 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-comments" title="Keep your users in the know" %}}
Tired of being asked "when is new data available"?

Automatically inform your users via Slack or Teams when new data is available.

[Read more...](/docs/reference/rest_api/) 
{{% /blocks/feature %}}



{{% blocks/feature icon="fa-chart-line" title="Observable" %}}
Butler can save data about its own memory usage for inclusion in operational monitoring tools.

[Read more...](/docs/examples/influxdb-metrics/) 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-server" title="Runs anywhere" %}}
Run Butler on Windows server, Linux, Docker, Kubernetes or Mac OS.

[Read more...](/docs/getting-started/) 
{{% /blocks/feature %}}

{{< /blocks/section >}}






{{< blocks/section color="dark">}}

{{% blocks/feature icon="fa-lightbulb" title="Latest release: 4.1" %}}
Nice little update adding controlled, secure file copying to Qlik Sense.

Available on [GitHub](https://github.com/ptarmiganlabs/butler/releases).
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"  url="https://github.com/ptarmiganlabs/butler" %}}
We do a [Pull Request](https://github.com/ptarmiganlabs/butler/pulls) contributions workflow on **GitHub**. New developers are always welcome!

Please consider giving us a star on [GitHub](https://github.com/ptarmiganlabs/butler) if you find Butler useful.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-medium-m" title="Don't be a stranger!" url="https://medium.com/ptarmigan-labs" %}}
We have a great [newsletter](https://www.subscribepage.com/g3c1f1), we're on [Medium](https://medium.com/ptarmigan-labs) and [LinkedIn](https://www.linkedin.com/in/gorsan).
{{% /blocks/feature %}}


{{< /blocks/section >}}




